<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_karyawan_root"
              name="Karyawan"
              sequence="10"/>

    <menuitem id="menu_magang_record"
              name="Magang Ikon"
              parent="menu_karyawan_root"
              sequence="10"/>

    <menuitem id="menu_magang"
              name="Magang"
              parent="menu_magang_record"
              sequence="20"/>
</odoo>
