<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_hospital_root"
            name="Hospital"/>

    <!-- <menuitem id="menu_hospital_operation"
            name="Operation"
            parent="menu_hospital_root"
            sequence="5"/>    -->

    <menuitem id="menu_patients"
        name="patients"
        parent="custom_coba.menu_hospital_root"
        action="action_hospital_patient"/>
</odoo>