.wrapper {

  .top {
    display: flex;
    margin-bottom: 20px;

    .heading-title {
      margin-right: 10px;

      .choosenDates {
        width: 300px;
      }
    }

    .startDates {
      width: 200px;
      height: 50px;
      overflow: hidden;
    }
  }

  padding: 10px;
  margin: 20px;

  .tableWrapper {

    thead {
      background-color: #F28C38;

      th {
        color: white;
      }
    }

    tbody {



      .comments {

        .comment_wrapper {

          display: flex;

          .commentIcon {
            width: 12%;
            height: 12%;
          }

          .modal {
            cursor: pointer;
          }

          .timeBox {
            width: 40px;
            padding: 0;
            margin-right: 5px;
          }


        }


      }


    }

    .no-record {
        width: 200px;
      }


  }

  .bottom {

    background-color: #f8f9fa;

    .button-list {
      display: flex;
      flex-direction: row;
      float: right;

      .submit {
        background-color: #33ac3f;
        color: white;
        padding: 8px 20px;
        margin: 5px;
        border-radius: 10px;
      }

      .edit {
        background-color: #33ac3f;
        color: white;
        padding: 8px 20px;
        margin: 5px;
        border-radius: 10px;
      }

      .reset {
        background-color: #848484;
        color: white;
        padding: 8px 20px;
        margin: 5px;
        border-radius: 10px;
      }

      .cancel {
        background-color: #848484;
        color: white;
        padding: 8px 20px;
        margin: 5px;
        border-radius: 10px;
      }

      //.submit .add .delete .reset {
      //
      //
      //}
    }
  }
}

